div#page-content {
    height: 180vh;
    width: 100%;
    background-color: var(--color-black);
}

div#promo-container {
    height: 50vh;
    width: 100vw;
    margin: 0px; padding: 0px;
    background-color: var(--color-black);
    overflow: hidden;
    background-image: url("./resources/images/abstract_back.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: solid 6px var(--color-primary);
}

h1#promo-title {
    margin: 0px;
    padding: 0px;
    margin-top: 15vh;
    font-size: 14vh;
    font-family: "Roboto bold";
    color: var(--color-primary);
    text-shadow: 0px 0px 26px #0005;
    transform: translateX(6vw);
}
h1#promo-subtitle {
    margin: 0px;
    padding: 0px;
    font-size: 3vh;
    font-family: "Roboto italic";
    color: var(--color-secondary);
    text-shadow: 0px 0px 10px #0008;
    transform: translateX(6vw);
}

div#promo-infos-back {
    height: 50vh;
    width: 100vw;
    box-shadow: 0px 0px 30px #0008;
    border-right: solid 10px var(--color-primary);
    background-color: var(--color-black);
    transform: translateX(calc(-70vh - 8vw)) skew(30deg);
}

div#promo-infos-front {
    position: absolute;
    top: 20vh;
    right: 0px;
    width: 65vh;
    height: 20vh;
    text-align: left;
    z-index: 1;
}

h2#promo-infos-text {
    font-family: "Roboto bold";
    margin: 0px; padding: 6px 10px;
    font-size: 5vh;
    color: var(--color-white);
    text-shadow: 0px 0px 15px #0008;
    animation: float 4000ms var(--animation-ease) infinite;
    z-index: 1;
}

h2#promo-infos-subtext {
    font-family: "Roboto bold";
    margin: 0px; padding: 6px 10px;
    font-size: 3vh;
    color: var(--color-white);
    text-shadow: 0px 0px 15px #0008;
    transform: translateY(20%);
    animation: float 4000ms var(--animation-ease) infinite;
    z-index: 1;
    animation-delay: 200ms;
}

img#promo-infos-image {
    height: inherit;
}