@import "./style/header.css";

@font-face {
    font-family: "Roboto";
    src: url("./resources/fonts/Roboto-Regular.ttf")
}
@font-face {
    font-family: "Roboto bold";
    src: url("./resources/fonts/Roboto-Bold.ttf")
}
@font-face {
    font-family: "Roboto thin";
    src: url("./resources/fonts/Roboto-Thin.ttf")
}

:root {
    --color-black: #292d34;
    --color-grey: #9da39d;
    --color-white: #e6eeff;
    --color-yellow: #be8a59;
    --color-red: #c16266;
    --color-green: #90b061;
    --color-blue: #5aa5e2;
    --color-shadow: #0004;

    --border-radius: 5px;
}

body {
    background-color: var(--color-black);
    margin: 0px;
    padding: 0px;
}

.packing-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 100%;
}