@import "./style/header.css";
@import "./style/account.css";

@keyframes fade-in-left {
    0% {opacity: 0; transform: translateX(10%);}
    100% {opacity: 1; transform: translateX(0%);}
}
@keyframes fade-in-right {
    0% {opacity: 0; transform: translateX(-10%);}
    100% {opacity: 1; transform: translateX(0%);}
}
@keyframes fade-out-left {
    0% {opacity: 1; transform: translateX(0%);}
    100% {opacity: 0; transform: translateX(10%);}
}
@keyframes fade-out-right {
    0% {opacity: 1; transform: translateX(0%);}
    100% {opacity: 0; transform: translateX(-10%);}
}

.anim-fade-in-right {
    animation: fade-in-right 500ms ease forwards;
}

@font-face {
    font-family: "Roboto";
    src: url("./resources/fonts/Roboto-Regular.ttf")
}
@font-face {
    font-family: "Roboto bold";
    src: url("./resources/fonts/Roboto-Bold.ttf")
}
@font-face {
    font-family: "Roboto thin";
    src: url("./resources/fonts/Roboto-Thin.ttf")
}

:root {
    --color-black: #292d34;
    --color-grey: #9da39d;
    --color-white: #e6eeff;
    --color-yellow: #be8a59;
    --color-red: #c16266;
    --color-green: #90b061;
    --color-blue: #5aa5e2;
    --color-shadow: #0004;

    --border-radius: 5px;
}

body {
    background-color: var(--color-black);
    margin: 0px;
    padding: 0px;
    min-height: 150vh;
    overflow-x: hidden;
}

.packing-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 100%;
}

input {
    font-size: 16px;
    color: var(--color-white);
    border-radius: var(--border-radius);
    border: solid 1px var(--color-blue);
    background-color: transparent;
    padding: 2px 4px;
    font-family: "Roboto";
    transition: background-color 200ms ease;
} input:hover {
    background-color: #FFF1;
}